/* line 2, D:/Frontend/RoR/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/camaleon_cms-2.4.3.5/app/assets/stylesheets/camaleon_cms/admin/widgets.css.scss */
#content-widget .panel-widget {
  cursor: move;
}
/* line 4, D:/Frontend/RoR/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/camaleon_cms-2.4.3.5/app/assets/stylesheets/camaleon_cms/admin/widgets.css.scss */
#content-widget .panel-widget, #content-widget .panel-widget * {
  color: #fff;
}
/* line 6, D:/Frontend/RoR/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/camaleon_cms-2.4.3.5/app/assets/stylesheets/camaleon_cms/admin/widgets.css.scss */
#content-widget .panel-widget .shortcode {
  cursor: default;
  width: 100%;
}

/* line 13, D:/Frontend/RoR/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/camaleon_cms-2.4.3.5/app/assets/stylesheets/camaleon_cms/admin/widgets.css.scss */
#content-sidebar .sidebar-body {
  min-height: 150px;
}
/* line 15, D:/Frontend/RoR/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/camaleon_cms-2.4.3.5/app/assets/stylesheets/camaleon_cms/admin/widgets.css.scss */
#content-sidebar .sidebar-body .panel-default:hover {
  cursor: move;
}
/* line 19, D:/Frontend/RoR/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/camaleon_cms-2.4.3.5/app/assets/stylesheets/camaleon_cms/admin/widgets.css.scss */
#content-sidebar form {
  overflow: hidden;
}

/* line 24, D:/Frontend/RoR/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/camaleon_cms-2.4.3.5/app/assets/stylesheets/camaleon_cms/admin/widgets.css.scss */
.ui-draggable-dragging {
  z-index: 999999999;
}
