!!!
%html{lang: 'en'}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title
  %body
    %table{style: 'width: 100%'}
      %tr
        %td
          = yield
