.dk-section.dk-block.dk-block-error.text-center
  .dkbe-error
    %h1 Ошибка 404
    Страница, которую вы пытаетесь открыть, не существует
    = content_tag(:code, @message, class: "",) if @message.present?
