.dk-type-list {
  .dk-type-list-item {
    width: 100%;
    .dktl-item-content { max-height: 140px; overflow: hidden; }
    .dktl-item-more { margin: 5px 0 0 0; padding: 10px 0 0 5px; border-top: 1px dashed #f7f7f7; }
  }
  .dk-events-list-item {
    .dktl-item-title { font-size: 115%; margin-bottom: 10px; height: 52px; }
    .dk-img-wrapper { height: 325px; }
    .dktl-img { max-height: 325px; }
    .dktl-item-content { height: 64px; margin-bottom: 10px; overflow: hidden; padding: 5px 0; }
    .dktl-item-info-price { color: #da1711; }
    .dktl-item-thumb { padding: 0; }
    .dktl-item-more { margin: 10px 0 0 0; padding: 15px 0 0 0; border-top: 1px dashed #e3e3e3; }
  }
  .dktl-item-content { padding: 5px 0; }
  .dktl-item-thumb { padding: 15px 0; }
  .dktl-item-title { font-size: 125%; display: block; overflow: hidden; margin-top: 14px; }
  .dktl-item-info { position: relative; min-height: 5px; }
  .dktl-item-more {
    display: block; line-height: 80%; font-size: 105%; text-align: right; background: #fff; box-shadow: -10px -10px 10px 0 #fff;
    &:hover { color: #da1711; }
  }
  h3 { font-size: inherit; margin: 0; line-height: inherit; }
}
