.dk-template-promo {
  .dk-readmore-action {
    text-align: right; position: absolute; bottom: 0; padding: 15px 25px; width: calc(100% - 30px); background: #fff;
  }
  .dk-field-name,
  .dk-field-box { display: inline-block; vertical-align: top; }
  .dktp-advance { overflow: hidden; }
  .dkfb-items { padding: 0; list-style: none; }
  .dktp-title { margin-bottom: 20px; }
  .dktp-info-box { margin: 35px 0; }
  .dk-custom-fields-info { margin: 15px 0; }
  .dkfb-show-all { position: absolute; top: 2px; right: 65px; }
  .dkts-check-wrap { margin-top: 0 !important; }
  .dktp-img { max-height: 225px; }
  .dkmi-title { width: 100% !important; }
  .dk-img-wrapper { border-bottom: 1px solid #f4f4f4; }
  .dktp-icon { color: #da1711; font-size: 16px; padding: 8px; margin: 15px 6px 0 0; border: 1px solid; border-radius: 50%; }
}
