%footer
  .row
    .col-lg-12
      %ul.list-inline
        %li.pull-right
          %a{:href => "#top"} Back to top
        %li
          %a{:href => "http://feeds.feedburner.com/bootswatch"} RSS
        %li
          %a{:href => "https://twitter.com/bootswatch"} Twitter
        %li
          %a{:href => "https://github.com/thomaspark/bootswatch/"} GitHub
        %li
          %a{:href => "../help/#api"} API
        %li
          %a{:href => "../help/#support"} Support
