.dk-main-info {
  width: 100%; min-height: 95px; display: inline-block;
  .dkmi-icon { position: absolute; right: 25px; top: 10px; font-size: 20px; color: #da1711; border-radius: 50%; border: 1px solid; padding: 8px; }
  .dkmi-header { font-size: 125%; width: 57.3333333%; }
  .dkmi-item { color: #da1711; margin-top: 5px; }
  .dkmi-content { width: 100%; display: inline-block; }
  .fa-vk { color: #507299; }
  .fa-instagram { color: #027b83; }
}
