.dk-visual-impaired {
  position: relative; display: none; z-index: 21; user-select: none; line-height: 60px; overflow: hidden;
  .dkvi-icon { margin-right: 14px; }
  .dkvi-item {
    display: inline-block; user-select: none; cursor: pointer; font-size: 16px;
    &:hover { color: #da1711; }
  }
  .dkvi-more,
  .dkvi-more-sub { display: none; }
  .dkvi-ms-item { display: inline-block; }
  .dkvi-exit {
    position: absolute; width: 26px; height: 60px; right: 0; text-align: right; background: #fff; font-size: 16px; color: #777; box-shadow: -10px 0 5px 0 rgba(255, 255, 255, 0.9);
    &:after { content: '✖'; right: 0; }
    &:hover { color: #da1711; cursor: pointer; }
  }
  .dkvi-colors {
    .dkvi-more-item-title { display: none; }
    .dkvi-more-sub { display: block; }
  }
  .dkvi-more-color {
    position: relative; width: 30px; display: inline-block; height: 30px; line-height: 30px; vertical-align: middle; text-align: center; cursor: pointer;
    &:before { content: attr(data-num); position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
    &.one { background: #fff; color: #000; border: 1px solid #777; }
    &.two { background: #222; color: #fff; border: 1px solid transparent; }
    &.three { background: #c8312c; color: #fff; border: 1px solid transparent; }
  }
  .dkvi-active { color: #da1711; }
  .dkvi-color-visible:before { content: '\f00c';}
  .dkvi-disable {
    color: #d9d9d9; cursor: default; pointer-events: none;
    .dkvi-reset-icon:before { content: '\f204'; }
  }
  .dkvi-reset-icon:before { content: '\f205'; }
}
.dk-visual-impaired-settings { border-top: 1px dashed #f5f5f5; }
.dk-visual-impaired-visible {
  .dk-visual-impaired { display: block; }
  .dk-navigation { display: none !important; }
}

.dkvi-turn-up i { color: #da1711; }
.dk-body-vi-action {
  .dk-main-info i { display: none; }
}
.dk-color-skin-one {
  color: #000; background: #fff;
  i,
  a,
  p,
  .dkei-time,
  .dkei-link,
  .dk-vi-title,
  .dke-item:after {
    color: #000 !important;
  }
  .dk-block { background: transparent !important; border: 1px solid; margin: -1px; }
  .dk-block,
  footer,
  .dk-header,
  .dk-widget,
  .dkei-footer,
  .dke-item { border-color: #000 !important; }
  .dk-template-promo .dk-readmore-action { border: 1px solid; }
  .dkvi-more-color[data-item=two] { color: #fff !important; }
  .dkvi-exit,
  .dkvi-item,
  .dkvi-ms-item,
  i,
  a,
  span {
    color: #000 !important;
    &:hover { color: #000 !important; }
  }
  .dk-gallery .dk-gallery-prev,
  .dk-gallery .dk-gallery-next,
  .dk-gallery .dk-gallery-state-change { background: transparent; border: 1px solid #000; color: #000; }
  .pagination a { background: transparent; border: 1px solid; }
  .pagination .active span { border: 1px solid; background: #222; color: #fff !important; }
}
.dk-color-skin-two {
  color: #fff; background: #222;
  i,
  a,
  p,
  .dkei-info,
  .dkei-date,
  .dkei-time,
  .dkei-link,
  .dk-vi-title,
  .breadcrumb li,
  .breadcrumb .active,
  .dke-item:after {
    color: #fff !important;
  }
  .dk-block { background: transparent !important; border: 1px solid; margin: -1px; }
  .dk-block
  footer,
  .dk-header,
  .dkei-footer,
  .dk-widget,
  .dke-item,
  .dkvi-more-color { border-color: #fff !important; }
  footer,
  .dk-navbar,
  .dk-header,
  .dk-preview-head,
  .dk-widget,
  .ddn-down-nav,
  .dkvi-exit,
  .dk-readmore-action,
  .dk-flash-message-wrap,
  .dke-item { background: #222 !important; }
  .dk-header,
  .ddn-down-nav,
  .dkvi-exit { box-shadow: none !important; }
  .dk-type-list .dktl-item-more { background: #222; box-shadow: -10px -10px 10px 0 #222; }
  .dk-template-promo .dk-readmore-action { border: 1px solid; }
  .dkvi-exit,
  .dkvi-item,
  .dkvi-ms-item,
  i,
  a,
  span {
    &:hover { color: #fff; }
  }
  .dk-gallery .dk-gallery-prev,
  .dk-gallery .dk-gallery-next,
  .dk-gallery .dk-gallery-state-change { background: transparent; border: 1px solid #fff; color: #fff; }
  .pagination a { background: transparent; border: 1px solid; }
  .pagination .active span { border: 1px solid; background: #fff; color: #222; }
}
.dk-color-skin-three {
  color: #fff; background: #c8312c;
  i,
  a,
  p,
  .dkei-info,
  .dkei-date,
  .dkei-time,
  .dkei-link,
  .dk-vi-title,
  .breadcrumb li,
  .breadcrumb .active,
  .dke-item:after {
    color: #fff !important;
  }
  .dk-block { background: transparent !important; border: 1px solid; margin: -1px; }
  .dk-block,
  footer,
  .dk-header,
  .dkei-footer,
  .dk-widget,
  .dke-item,
  .dkvi-more-color { border-color: #fff !important; }
  .dkvi-more-color[data-item=one] { color: #000 !important; }
  .dk-navbar,
  footer,
  .dk-header,
  .dk-preview-head,
  .dk-widget,
  .ddn-down-nav,
  .dkvi-exit,
  .dk-readmore-action,
  .dk-flash-message-wrap,
  .dke-item { background: #c8312c !important; }
  .dk-header,
  .ddn-down-nav,
  .dkvi-exit { box-shadow: none !important; }
  .dk-type-list .dktl-item-more { background: #c8312c; box-shadow: -10px -10px 10px 0 #c8312c; }
  .dk-template-promo .dk-readmore-action { border: 1px solid; }
  .dkvi-exit,
  .dkvi-item,
  .dkvi-ms-item,
  i,
  a,
  span {
    color: #fff !important;
    &:hover { color: #fff !important; }
  }
  .dk-gallery .dk-gallery-prev,
  .dk-gallery .dk-gallery-next,
  .dk-gallery .dk-gallery-state-change { background: transparent; border: 1px solid #fff; color: #fff; }
  .pagination a { background: transparent; border: 1px solid; }
  .pagination .active span { border: 1px solid #fff; background: #fff; color: #222 !important; }
}
.dk-header-off {
  a,
  p,
  b,
  span,
  small
  strong,
  h1,
  h2,
  h3,
  h4,
  .dk-cont-title,
  .dk-field-name,
  .dk-title,
  .dk-vi-title { font-size: 100% !important; font-weight: normal !important; }
}