.dk-header {
  background: #fff; min-height: 150px; margin-top: 60px; line-height: 150px; font-size: 22px;
  img { margin-top: -15px; max-height: 105px; display: inline-block; }
  .dk-header-title { line-height: normal; display: inline-block; vertical-align: middle; font-size: 21px; font-weight: 600; }
  .dk-header-sub-title { margin-top: 12px; color: #555; font-size: 14px; }
}