.dk-visual-impaired
  %span.col-md-3.col-xs-12.dkvi-item.js-dkvi-font-size.js-dkvi-zoom-font-size
    %i.fa.fa-font
    %i.dkvi-icon.fa.fa-long-arrow-up
    Увеличить шрифт
  %span.col-md-3.col-xs-12.dkvi-item.js-dkvi-font-size.js-dkvi-drop-font-size
    %i.fa.fa-font
    %i.dkvi-icon.fa.fa-long-arrow-down
    Уменьшить шрифт
  %span.col-md-3.col-xs-12.dkvi-item.js-dkvi-font-size.js-dkvi-def-font
    %i.dkvi-icon.fa.fa-font
    Стандартный шрифт
  %span.col-md-3.col-xs-12.dkvi-item.js-dkvi-settings
    %i.dkvi-icon.fa.fa-cog
    Дополнительно
  .dkvi-more.js-dkvi-more
    .col-md-3.col-xs-12.dkvi-item.dkvi-more-item.js-dkvi-more-headers
      %i.dkvi-icon.fa.fa-header
      Выключить заголовки
    .col-md-3.col-xs-12.dkvi-item.dkvi-more-item.js-dkvi-more-img
      %i.dkvi-icon.fa.fa-image
      Выключить изображения
    .col-md-3.col-xs-12.dkvi-item.dkvi-more-item
      .dkvi-more-item-title.js-dkvi-more-colors
        %i.dkvi-icon.fa.fa-sliders
        Цветовая схема
      .row.dkvi-more-sub.js-dkvi-more-sub
        .col-md-3.col-xs-3.kvi-ms-item
          %span.dkvi-more-color.fa.one.js-dkvi-more-color.js-skin-one{data: {item: 'one', num: 1}}
        .col-md-3.col-xs-3.dkvi-ms-item
          %span.dkvi-more-color.fa.two.js-dkvi-more-color.js-skin-two{data: {item: 'two', num: 2}}
        .col-md-3.col-xs-3.dkvi-ms-item
          .dkvi-more-color.fa.three.js-dkvi-more-color.js-skin-three{data: {item: 'three', num: 3}}
        .col-md-3.col-xs-3.dkvi-ms-item.js-dkvi-more-sub-close ✖
    .col-md-3.col-xs-12.dkvi-item.dkvi-more-item.js-dkvi-reset
      %i.dkvi-icon.dkvi-reset-icon.fa
      Сбросить настройки
  .dkvi-exit.js-visual-impaired-i.js-dkvi-toggle
