@font-face {
  font-family: 'ekibastuz';
  font-weight: normal;
  font-style: normal;
  src: font-url('Ekibastuz-Regular.eot');
  src: font-url('Ekibastuz-Regular.eot?#iefix') format('embedded-opentype'),
  font-url('Ekibastuz-Regular.woff') format('woff'),
  font-url('Ekibastuz-Regular.woff2') format('woff2'),
  font-url('Ekibastuz-Regular.ttf') format('truetype'),
  font-url('Ekibastuz-Regular.svg#open_sansregular') format('svg');
}
